USE [GameManager]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 10/11/2025 2:08:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Year] [datetime] NOT NULL,
	[IdPublisher] [int] NOT NULL,
	[IdConsole] [int] NOT NULL,
	[IdGenre] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Juego] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdConsole__49C3F6B7] FOREIGN KEY([IdConsole])
REFERENCES [dbo].[Console] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdConsole__49C3F6B7]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdGenre__4AB81AF0] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdGenre__4AB81AF0]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdPublish__4BAC3F29] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdPublish__4BAC3F29]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdConsole_FK] FOREIGN KEY([IdConsole])
REFERENCES [dbo].[Console] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdConsole_FK]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdGenre_FK] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdGenre_FK]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdPublisher_FK] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdPublisher_FK]
GO
