USE [master]
GO
/****** Object:  Database [GameManager]    Script Date: 7/29/2023 12:41:50 PM ******/
CREATE DATABASE [GameManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudWindowsForm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GameManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrudWindowsForm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GameManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameManager]
GO
/****** Object:  Table [dbo].[Console]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Console](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Consola] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Year] [datetime] NOT NULL,
	[IdPublisher] [int] NOT NULL,
	[IdConsole] [int] NOT NULL,
	[IdGenre] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Juego] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTable]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_people] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 7/29/2023 12:41:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Console] ON 

INSERT [dbo].[Console] ([Id], [Name]) VALUES (1, N'Xbox One')
INSERT [dbo].[Console] ([Id], [Name]) VALUES (2, N'Playstation 4')
INSERT [dbo].[Console] ([Id], [Name]) VALUES (4, N'netbookConsola')
SET IDENTITY_INSERT [dbo].[Console] OFF
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([Id], [Name], [Year], [IdPublisher], [IdConsole], [IdGenre], [Quantity], [Price]) VALUES (2, N'GTA 6', CAST(N'2030-11-28T14:25:56.000' AS DateTime), 8, 2, 2, 1, 10000)
INSERT [dbo].[Game] ([Id], [Name], [Year], [IdPublisher], [IdConsole], [IdGenre], [Quantity], [Price]) VALUES (3, N'sadsad', CAST(N'2021-11-03T14:30:00.000' AS DateTime), 7, 2, 1, 1, 2323)
INSERT [dbo].[Game] ([Id], [Name], [Year], [IdPublisher], [IdConsole], [IdGenre], [Quantity], [Price]) VALUES (4, N'NetookJuego', CAST(N'2021-11-28T10:49:54.580' AS DateTime), 11, 4, 5, 10, 10)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Id], [Name]) VALUES (1, N'RPG')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (2, N'Mundo Abierto')
INSERT [dbo].[Genre] ([Id], [Name]) VALUES (4, N'Aventura')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginTable] ON 

INSERT [dbo].[LoginTable] ([Id], [username], [password]) VALUES (1, N'hola', N'hola')
INSERT [dbo].[LoginTable] ([Id], [username], [password]) VALUES (2, N'admin', N'admin')
INSERT [dbo].[LoginTable] ([Id], [username], [password]) VALUES (3, N'adminnebook', N'adminnetbook')
SET IDENTITY_INSERT [dbo].[LoginTable] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([id], [name], [age]) VALUES (4, N'saSA', 0)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([Id], [Name]) VALUES (3, N'Ubisoft')
INSERT [dbo].[Publisher] ([Id], [Name]) VALUES (4, N'Xbox')
INSERT [dbo].[Publisher] ([Id], [Name]) VALUES (5, N'Nintendo')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdConsole__49C3F6B7] FOREIGN KEY([IdConsole])
REFERENCES [dbo].[Console] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdConsole__49C3F6B7]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdGenre__4AB81AF0] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdGenre__4AB81AF0]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK__Juego__IdPublish__4BAC3F29] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK__Juego__IdPublish__4BAC3F29]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdConsole_FK] FOREIGN KEY([IdConsole])
REFERENCES [dbo].[Console] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdConsole_FK]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdGenre_FK] FOREIGN KEY([IdGenre])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdGenre_FK]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [Juego_IdPublisher_FK] FOREIGN KEY([IdPublisher])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [Juego_IdPublisher_FK]
GO
USE [master]
GO
